* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-contant-between {
  justify-content: space-between;
}

.justify-contant-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.w-1 {
  width: 100%;
}

.w-2 {
  width: 50%;
}

.w-3 {
  width: 33.33%;
}

.w-4 {
  width: 25%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: inline-block;
}

body {
  font-family: "open sans";
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 99;
}
header img {
  max-width: 140px;
}
header nav ul li:nth-child(1) a {
  color: #09aeb8;
}
header nav ul li a {
  padding: 0 15px;
  color: #3a3a3a;
  font-size: 15px;
  font-weight: 700;
  transition: 0.3s all linear;
}
header nav ul li:hover a {
  color: #09aeb8;
}
header nav + a {
  padding: 15px 25px 12px 25px;
  background-color: #09aeb8;
  color: white;
  border-radius: 1px;
  transition: 0.3s all linear;
}
header nav + a:hover {
  background-color: #ffd763;
}

.banner {
  background-image: url(../img/hero-112.jpg);
  background-position: center;
  padding: 200px 0 300px 0;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  opacity: 0.6;
}
.banner .banner-contant {
  z-index: 99;
}
.banner .banner-contant h1 {
  font-size: 100px;
  padding: 80px 50px 0 50px;
  display: block;
  color: #3a3a3a;
  font-weight: 700;
  font-family: "josefin sans";
}
.banner .banner-contant p {
  padding: 0 50px 50px 50px;
  color: #4b4f58;
  margin-top: 10px;
}
.banner .banner-contant a {
  background-color: #09aeb8;
  color: white;
  padding: 14px 25px 13px 25px;
  display: inline-block;
  border-radius: 2px;
  transition: 0.3s all linear;
}
.banner .banner-contant a:hover {
  background-color: #ffd763;
}

.services {
  padding: 100px 0 30px 0;
}
.services .service-box {
  margin: 0 10px;
  transition: 0.1s all;
}
.services .service-box:hover {
  border-bottom: 4px solid #09aeb8;
}
.services .service-box .services-items {
  padding: 50px;
  box-shadow: 0 0 45px 0 rgba(225, 225, 225, 0.5);
}
.services .service-box .services-items i {
  color: #09aeb8;
  font-size: 40px;
}
.services .service-box .services-items h3 {
  margin: 20px auto 10px auto;
  font-size: 18px;
  font-weight: 700;
  max-width: 150px;
  color: #3a3a3a;
  line-height: 1.25;
  font-family: "josefin sans";
}
.services .service-box .services-items p {
  font-size: 15PX;
  color: #3a3a3a;
  line-height: 1.85;
}

.view-more {
  padding: 50px;
}
.view-more .view-more-contant a {
  background-color: #09aeb8;
  color: white;
  padding: 15px 35px 13px 35px;
  border-radius: 2px;
  font-size: 15px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  transition: 0.3s all linear;
}
.view-more .view-more-contant a:hover {
  background-color: #ffd763;
}
.view-more .view-more-contant span {
  height: 1px;
  width: 100%;
  background-color: #4b4f58;
  margin-top: 20px;
  opacity: 0.1;
}
.view-more .view-more-items {
  padding: 100px 50px 50px 50px;
}
.view-more .view-more-items img {
  margin: 0 auto;
}

.experience {
  padding-bottom: 100px;
}
.experience .experience-contant {
  background-color: #f1f1f1;
  padding: 60px;
}
.experience .experience-contant h4 {
  font-size: 45px;
  margin-bottom: 20px;
  color: #3a3a3a;
  line-height: 1.25;
  font-family: "josefin sans";
}
.experience .experience-contant p {
  font-size: 15px;
  color: #4b4f58;
  margin: 10px 0 25px 0;
  line-height: 1.75;
}
.experience .experience-contant a {
  background-color: #09aeb8;
  color: white;
  padding: 15px 35px 13px 35px;
  font-size: 15px;
  display: inline-block;
  border-radius: 2px;
  transition: 0.3s all linear;
}
.experience .experience-contant a:hover {
  background-color: #ffd763;
}
.experience .experience-items .w-2 {
  padding: 53px 30px 53px 30px;
}
.experience .experience-items .w-2 i {
  font-size: 50px;
  margin-bottom: 30px;
}
.experience .experience-items .w-2 p {
  line-height: 1.75;
  color: #4b4f58;
  font-size: 15px;
}
.experience .experience-items .w-2:first-child {
  background-color: #ffd763;
}
.experience .experience-items .w-2:last-child {
  background-color: #09aeb8;
}

.how-we-work .how-we-work-contant {
  padding-bottom: 100px;
}
.how-we-work .how-we-work-contant h3 {
  font-size: 60px;
  padding: 0 100px;
  color: #3a3a3a;
  font-family: "josefin sans";
}
.how-we-work .how-we-work-contant span {
  width: 2px;
  height: 50px;
  background-color: #09aeb8;
  margin-top: 30px;
}
.how-we-work .how-we-work-contant a {
  margin-top: 20px;
  font-size: 18px;
  color: #3a3a3a;
  display: block;
  transition: 0.4s all linear;
}
.how-we-work .how-we-work-contant a:hover {
  color: #09aeb8;
}
.how-we-work .how-we-work-img {
  background-image: url(../img/how-we-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 200px;
  width: 100%;
  z-index: -1;
}
.how-we-work .how-we-work-img::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
  opacity: 0.3;
}
.how-we-work .how-we-work-img i {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.how-we-work .how-we-work-img div {
  background-color: #ffd763;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 10px;
}
.how-we-work .how-we-work-img h3 {
  font-size: 60px;
  color: white;
  margin-top: 60px;
  font-family: "josefin sans";
}

.counter {
  padding: 100px 0;
}
.counter .counter-contant h3 {
  font-size: 60px;
  color: #3a3a3a;
  margin-bottom: 20px;
  font-family: "josefin sans";
}
.counter .counter-contant p {
  font-size: 15px;
  color: #4b4f58;
  max-width: 500px;
  line-height: 1.75;
  margin: 0 auto;
}
.counter .counter-items {
  padding: 70px;
  background-image: url(../img/snow-fall.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}
.counter .counter-items span {
  font-size: 70px;
  color: #09aeb8;
  margin-bottom: 5px;
  font-weight: 600;
}
.counter .counter-items p {
  font-size: 20px;
  color: #4b4f58;
  line-height: 1.25;
}

.gallary .w-3 img {
  transition: 0.4s all;
}
.gallary .w-3 img:hover {
  filter: brightness(70%);
}

.testimonial {
  padding: 100px 0;
}
.testimonial .testimonial-contant h3 {
  font-size: 60px;
  color: #3a3a3a;
  margin-bottom: 20px;
  font-family: "josefin sans";
}
.testimonial .testimonial-contant p {
  font-size: 15px;
  color: #4b4f58;
  max-width: 510px;
  line-height: 1.75;
  margin: 0 auto;
  font-weight: 500;
}
.testimonial .row {
  padding-top: 50px;
}
.testimonial .row .testimonial-items {
  padding: 30px 30px 0 30px;
}
.testimonial .row .testimonial-items .img-box img {
  margin: 0 auto;
}
.testimonial .row .testimonial-items p {
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.75;
  color: #4b4f58;
  font-weight: 500;
}
.testimonial .row .testimonial-items p:nth-of-type(2) {
  color: #3a3a3a;
  font-size: 20px;
  font-family: " josefin sans";
}
.testimonial .row .testimonial-items i {
  color: #09aeb8;
}
.testimonial .row .testimonial-items i:nth-of-type(5) {
  color: gray;
}

.why-us .why-us-contant {
  background-color: #ffd763;
  padding: 90px;
}
.why-us .why-us-contant h6 {
  font-size: 18px;
  color: #3a3a3a;
  font-family: "josefin sans";
  color: #3a3a3a;
}
.why-us .why-us-contant h3 {
  font-size: 50px;
  margin-top: 30px;
  font-family: "josefin sans";
  color: #3a3a3a;
}
.why-us .why-us-contant p {
  font-size: 15px;
  color: #4b4f58;
  line-height: 1.75;
  margin: 25px 0 45px 0;
  font-weight: 500;
}
.why-us .why-us-contant a {
  display: inline-block;
  background-color: #09aeb8;
  color: white;
  padding: 15px 35px 13px 35px;
  border-radius: 2px;
  border: 2px solid #09aeb8;
  transition: 0.4s all linear;
}
.why-us .why-us-contant a:hover {
  color: white;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid white;
}

.items {
  padding: 80px 0;
  background-color: #ffd763;
}
.items .why-us-items i {
  font-size: 45px;
  color: #3a3a3a;
}
.items .why-us-items div {
  text-align: left;
  padding-left: 15px;
}
.items .why-us-items div h5 {
  font-size: 18px;
  color: #3a3a3a;
}
.items .why-us-items div p {
  font-size: 15px;
  color: #4b4f58;
  padding-top: 5px;
  font-weight: 500;
}

.footer {
  padding: 100px 0 30px 0;
  background-color: #f1f1f1;
}
.footer .w-4 {
  text-align: left;
}
.footer .w-4:first-child .footer-contant {
  padding-left: 0;
}
.footer .w-4:first-child .footer-contant h4 {
  font-size: 21px;
  color: #4b4f58;
  margin-bottom: 30px;
  font-family: "josefin sans";
}
.footer .w-4:first-child .footer-contant li {
  color: #4b4f58;
  font-size: 15px;
  line-height: 1.75;
  margin-top: 10px;
}
.footer .w-4:first-child .footer-contant a {
  color: #3a3a3a;
  padding-right: 10px;
  font-size: 18px;
  display: inline-block;
  margin-top: 30px;
}
.footer .w-4:first-child .footer-contant a:hover {
  color: #09aeb8;
}
.footer .w-4 .footer-contant {
  padding-left: 30px;
}
.footer .w-4 .footer-contant h4 {
  font-size: 21px;
  color: #4b4f58;
  margin-bottom: 30px;
  font-family: "josefin sans";
}
.footer .w-4 .footer-contant li {
  color: #4b4f58;
  font-size: 15px;
  line-height: 1.25;
  margin-top: 10px;
  font-weight: 500;
}
.footer .w-4 .footer-contant a:hover li {
  color: #09aeb8;
}
.footer .copy-right {
  background-color: #f1f1f1;
  color: #4b4f58;
  padding-top: 50px;
}

/*# sourceMappingURL=style.css.map */
